.note{
    /* background-color: red; */
    border-radius: 6px;
    align-self: baseline;
    padding: 9px;
    box-shadow: 0 10px 20px hsl(0 0% 0% / .22);
    max-width: 260px;
    min-height: 150px;
    flex-wrap: wrap;
    
}

.note h1,
.note p{
    word-break: break-all;
}
